/*-- scss:defaults --*/

$theme: "theme_custom_dark" !default;
//
// Color system
//
$white:                         #ffffff !default;
$black:                         #000000 !default;

$blue:                          #237ca8 !default;
$light-blue:                    #3db7c3 !default;
$light-green:                   #94d5b3 !default;
$green:                         #4eba81 !default;
$indigo:                        #3f5aa9 !default;
$purple:                        #5e4b8b !default;
$pink:                          #c76b98 !default;
$red:                           #b23a48 !default;
$orange:                        #d17a3a !default;
$yellow:                        #d4c34f !default;
$teal:                          #2f9e8f !default;
$cyan:                          #3db7c3 !default;

$gray-100:                      #0f2a3d !default;
$gray-200:                      #1c3b52 !default;
$gray-300:                      #24485f !default;
$gray-400:                      #2e5a74 !default;
$gray-500:                      #5f7f96 !default;
$gray-600:                      #7f9bb0 !default;
$gray-700:                      #a5bdcf !default;
$gray-800:                      #c7d9e6 !default;
$gray-900:                      #e6edf3 !default;

$primary:                       $blue !default;
$secondary:                     $light-blue !default;
$success:                       $green !default;
$info:                          $light-green !default;
$warning:                       $yellow !default;
$danger:                        $red !default;

$light:                         $white !default;
$dark:                          #e6edf3 !default;

$min-contrast-ratio:            1.85 !default;

// Body
$body-bg:                       #0b1e2d !default;
$body-color:                    #e6edf3 !default;

// Fonts
// stylelint-disable value-keyword-case
$font-family-headings:          "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-body:              "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-color:                $light-blue !default;

// stylelint-enable
$font-size-base:                1.1rem !default;
$headings-font-weight:          650 !default;

// Tables
$table-border-color:            $gray-200 !default;
$table-bg-scale:                0 !default;

// Buttons
$input-btn-padding-y:           .5rem !default;
$input-btn-padding-x:           1.1rem !default;
$btn-font-family:               $font-family-body !default;
$btn-font-size:                 .875rem !default;
$btn-font-size-sm:              .588rem !default;

$btn-border-radius:             1.078em !default;
$btn-border-radius-lg:          2.688em !default;
$btn-border-radius-sm:          .844em !default;

// Forms
$input-border-color:            $gray-200 !default;
$input-group-addon-bg:          $gray-200 !default !default;

// Navbar
$navbar-dark-color:             rgba($white, .6) !default;
$navbar-dark-hover-color:       $white !default;
$navbar-light-hover-color:      $body-color !default;
$navbar-light-active-color:     $body-color !default;

// Tooltips
$tooltip-font-size:             $font-size-base !default;

// Badges
$badge-font-weight:             400 !default;
$badge-padding-y:               .6em !default;
$badge-padding-x:               1.2em !default;

// Alerts
$alert-border-width:            0 !default;

// Code
$code-block-bg:                 #132b3a !default;
$mono-background-color:         #132b3a;
$code-color:                    #94d5b3;
$code-block-border-left:        #237ca8;

// mermaid theming
$mermaid-bg-color:              $white;
$mermaid-edge-color:            $secondary;
$mermaid-node-fg-color:         $primary;
$mermaid-fg-color:              $primary;
$mermaid-fg-color--lighter:     lighten($primary, 10%);
$mermaid-fg-color--lightest:    lighten($primary, 20%);
$mermaid-font-family:           $font-family-sans-serif;
$mermaid-label-bg-color:        $primary;
$mermaid-label-fg-color:        $primary;
$mermaid-node-bg-color:         rgba($primary, 0.1);
$mermaid-node-fg-color:         $primary;

$callout-icon-scale:            0.1 !default;
$callout-color-warning:         $red !default;
$callout-color-note:            $teal !default;
$callout-color-important:       $purple !default;

/*-- scss:rules --*/
//callouts
.callout.callout-style-default .callout-icon::before, .callout.callout-style-default .callout-toggle::before{
  background-size: $font-size-base;
  height: $font-size-base;
  width: $font-size-base;
}

.callout.callout-style-default>div.callout-header {
  font-size: $font-size-base;
}

.callout.callout-style-default .callout-body{
  font-size: $font-size-base;
}

// style the 'tip' callout in green for learning objectives
div.callout.callout-style-default.callout-tip>div.callout-header{
  color: $green;
}

// style the 'warning' callout in red for warnings
div.callout.callout-style-default.callout-warning>div.callout-header{
  color: $red;
}

// style the 'note' callout in teal to avoid clash with code in blue
div.callout.callout-style-default.callout-note>div.callout-header{
  color: $teal;
}

// style the 'important' callout in purple for practice questions
div.callout.callout-style-default.callout-important>div.callout-header{
  color: $purple;
}

// custom icon of question mark for important callout (practice questions)
div.callout-important.callout-titled .callout-icon::before{
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20512%22%3E%3C!--!Font%20Awesome%20Free%206.7.2%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202025%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M96%2064c0-17.7%2014.3-32%2032-32l32%200c17.7%200%2032%2014.3%2032%2032l0%20160%200%2064%200%20160c0%2017.7-14.3%2032-32%2032l-32%200c-17.7%200-32-14.3-32-32l0-64-32%200c-17.7%200-32-14.3-32-32l0-64c-17.7%200-32-14.3-32-32s14.3-32%2032-32l0-64c0-17.7%2014.3-32%2032-32l32%200%200-64zm448%200l0%2064%2032%200c17.7%200%2032%2014.3%2032%2032l0%2064c17.7%200%2032%2014.3%2032%2032s-14.3%2032-32%2032l0%2064c0%2017.7-14.3%2032-32%2032l-32%200%200%2064c0%2017.7-14.3%2032-32%2032l-32%200c-17.7%200-32-14.3-32-32l0-160%200-64%200-160c0-17.7%2014.3-32%2032-32l32%200c17.7%200%2032%2014.3%2032%2032zM416%20224l0%2064-192%200%200-64%20192%200z%22%20fill%3D%22%237d489c%22%2F%3E%3C%2Fsvg%3E");

}

// toc background
#TOC {
  //background-color: $pale-blue;
  font-size: $font-size-base;
}

// caption colour
.panel-caption, .figure-caption, .subfigure-caption, .table-caption, figcaption, caption{
  color: $green;
}

// code again
/* Output cells */
.cell-output > pre {
  background-color: $code-block-bg !important;  // dark background
  color: $code-color !important;                // light text
}

/* Inline code */
p code:not(.sourceCode),
li code:not(.sourceCode),
td code:not(.sourceCode) {
  background-color: $mono-background-color !important; // dark inline code bg
  color: $code-color !important;                        // light text
}

/* Code-with-filename blocks */
.code-with-filename .code-with-filename-file {
  background-color: darken($blue, 10%) !important;     // slightly darker for contrast
  color: #ffffff !important;
}

div.code-with-filename-file > pre {
  background-color: darken($blue, 10%) !important;
  color: #ffffff !important;
}

// Navbar

.navbar {
  font-size: 1.0rem;
  border: 1px solid #0f2a3d;

  &.bg-dark {
    background-color: #0f2a3d !important;
  }

  &.bg-light {
    background-color: #0f2a3d !important;
    border: 1px solid #0f2a3d;

    &.navbar-fixed-top {
      border-width: 0 0 1px;
    }

    &.navbar-fixed-bottom {
      border-width: 1px 0 0;
    }
  }
}

.sidebar-navigation a {
    color: $body-color;
}

/* Sidebar background */
.sidebar {
  background-color: #0f2a3d !important;
  border-right: 1px solid #1c3b52;
}

/* Sidebar links */
.sidebar .nav-link {
  color: #cfe6f3;
}

.sidebar .nav-link.active {
  color: #ffffff;
  font-weight: 600;
}

.sidebar .nav-link:hover {
  color: #94d5b3;
}

.header-section-number {
  color: $primary;
}

// Typography

p {
  font-family: $font-family-body;
}

h1 {
  font-family: $font-family-headings;
  font-weight: $headings-font-weight;
  opacity: 1.0;
}

h2 {
  font-family: $font-family-headings;
  font-weight: $headings-font-weight;
  opacity: 1.0;
}

h3 {
  font-family: $font-family-headings;
  opacity: 1.0;
}

h4 {
  font-family: $font-family-headings;
  opacity: 1.0;
}

h5 {
  font-family: $font-family-headings;
  opacity: 1.0;
}

h6 {
  font-family: $font-family-headings;
  opacity: 1.0;
}

blockquote {
  font-style: italic;
}

footer {
  font-size: $font-size-sm;
}

.lead {
  color: $primary;
  font-family: $font-family-headings;
}

// Tables

table,
.table {
  font-size: $font-size-sm;
}

// Navs

.nav,
.breadcrumb,
.pagination {
  font-size: $font-size-sm;
}

.dropdown-menu {
  font-size: $font-size-sm;
}

// Indicators

.alert {
  color: $white;
  font-size: $font-size-sm;

  &,
  p {
    font-family: $font-family-body;
  }

  a,
  .alert-link {
    color: $white;
    font-weight: 400;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient($value, mix($body-bg, $value, 15%)) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }

  &-light {
    &,
    a,
    .alert-link {
      color: $body-color;
    }
  }
}

.badge {
  &.bg-light {
    color: $dark;
  }
}

// Containers

.list-group {
  font-size: $font-size-sm;
}

.image-container {
  overflow: scroll;
  max-width: 1200px;  // or width instead of max-width
  max-height: 500px;
}

.secondaryDetails>summary {
  list-style-type: none;
  outline: none;
  cursor: pointer;
}

.secondaryDetails>summary::-webkit-details-marker {
  display: none;
}

.secondaryDetails>summary::before {
  content: '+ ';
  text-align: Right
}

.secondaryDetails[open]>summary::before {
  content: '- ';
  text-align: Right;
}

.secondaryDetails>summary {
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  color: $body-color;
}

.secondaryDetails[open]>summary {
  margin-bottom: 20px;
}

.container-fluid.crosstalk-bscols {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.dataTables_paginate a {
  float: right !important;
  padding: 8px 16px;
  text-align: right;
}

.dataTables_paginate a:hover:not(.active) {background-color: $gray-200;}

.dataTables_wrapper .dataTables_length select {
  margin-top: 20px !important;
}

// if we shown an error in the output, make it red
div.cell-output.cell-output-error > pre > code {
    color: #c5060c !important;
  }